html {
  background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: #EAC197;
  background: linear-gradient(#6B6B86, #4D4D61);
  font-family: helvetica;
}

.webpage {
  text-align: center;
}

.skillset {
  text-align: right;
}

.portfolio {
  text-align: center;
}
